@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* GENERAL */

#navigation,
#about,
#features,
#quality,
#steps,
#values,
#pricing,
#testimony,
#faqs,
#enroll{
    padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

nav{
    height: 100px;
    display: flex;
}

a{
    text-decoration: none;
    color: rgb(36, 62, 99)
}

li{
    list-style-type: none;
    text-align: center;
}

img{
    width: 100%;
    height:auto;
}

button{
    background-color: #6415ff;
    border-width: 0;
    border-radius: 50px;
    padding: 14px 32px;
    color: rgb(247, 250, 252);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.container{
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row__column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column__style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px !important;
}

.section__header{
    color: #6415ff;
    font-size: 18px;
    letter-spacing: 1.8px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 16px;
}

.section__title{
    font-size: 48px;
    line-height: 1.5;
    color: #243e63;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.section__description {
    margin-top: 18px;
    width: 100%;
    max-width: 576px;
    text-align: center;
    font-size: 18px;
    line-height: 1.625;
}

.description {
    font-weight: 500;
    color: #7c8ba1
}

.purple{
    color: #6415ff;
}





/* NAVIGATION */





.nav__row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img{
    width: 40px;
    margin-right: 12px;
}

.logo__link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
    transition: all 300ms ease;
}

.logo__link:hover{
    color: #6415ff;
}

.nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link{
    margin: 0 24px;
    color: #243e63;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 300ms ease;
    border-bottom: 3px transparent solid;       /*Underline effect*/
}

.nav__link:hover{
    color: #6415ff;
    border-color: #6415ff;
}

.nav__link--login{
    margin-left: 80px !important; 
    margin-right: 0PX;
}

.nav__link--primary{
    background-color: #6415ff;
    color: white;
    border-radius: 9999px;
    padding: 10px 28px;
    transition: all 300ms ease;
}

.nav__link--primary:hover{
    background-color: #5011cc;
    color: white;
    text-decoration: none;
}





/* ABOUT */





.about__left{
    width: 60%;
}

.about__header{
    font-size: 48px;
    text-align: left;
}

.header__para{
    font-size: 18px;
    line-height: 1.8;
    margin: 32px 0;
    color: #243e63
}

.about__input{
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-align: center;
}

.about__input input{
    width: 100%;
    padding: 22px 192px 22px 32px;
    border-radius: 9999px;
    font-size: 100%;
    font-weight: 500;
    border: 2px solid #e5e7eb;
    transition: border-color 300ms ease;
}

.about__input input:focus{
    outline: transparent solid 2px;
    outline-offset: 2px;
    border-color: #6415ff;
}

.about__input input:hover{
    border-color: rgb(160, 174, 192);
}

.about__input button{
position: absolute;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
width: 160px;
line-height: 1;
right: 0;
top: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
margin-right: 8px;
padding: 16px 0;
font-size: 100%;
border: 0px;
transition: all 300ms ease;
}

.about__input button:hover{
    background-color: #5011cc;
    color: white;
    text-decoration: none;
}

.about__customers{
    margin-top: 48px;
}

.about__customers p{
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 700;
    color: #b4b2c0;
}

.about__customers img{
    padding-right: 0;
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
    padding-right: 128px;
    
}

.about__right{
    width: 100%;
}

.about__img{
    width: 100%;
    max-width: 100%;
}





/* FEATURES */





.feature__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 1020px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.feature__block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 32px 24px;
    height: 100%;
    width: calc(100%/3);
}

.feature__logo--container{
    width: 66px;
    height: 66px;
    border: 1px solid #e9edf3;
    border-radius: 9999px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__text--container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    margin-left: 16px;
}

.feature__text--container h3{
    font-size: 24px;
    line-height: 2;
}

.feature__text--container p{
    font-size: 16px;
    line-height: 2;
    color: #7c8ba1
}





/* QUALITY */





.quality__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 64px;
    padding: 32px 0;
    width: 50%;
}

.quality__header,
.quality__title,
.quality__description{
    text-align: left;
}

.quality__left a{
    margin-top: 24px;
}

.quality__left button{
    transition: all 300ms ease;
}

.quality__left button:hover{
    background-color: #5011cc;
    color: #fff;
}

.quality__right{
    width: 50%;
}

.quality__right img{
    border: 1px solid #e9edf3;
    border-radius: 1px;
}





/* STEPS */





.steps__left{
    width: 50%;
}

.steps__right{
    width: 50%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 66px;
}

.steps__header,
.steps__title{
    text-align: left;
}

.steps__wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.steps__block{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60%;
    margin: 16px 0;
}

.steps__number--container{
    font-size: 24px;
    color: #e9edf3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__number--container h1{
    color: #cbd5e0;
    font-weight: 600;
}

.steps__text--container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    margin-top: 4px;
    margin-left: 20px;
}

.steps__text--container h3{
    font-size: 20px;
    margin-bottom: 8px;
    color: #243e63;
}

.steps__text--container p{
    font-size: 16px;
    line-height: 2;
    color: #243e63;
}




/* VALUES */





.values__left{
    width: 50%;
    padding: 32px 64px 32px 0;
}

.values__header,
.values__title,
.values__description{
    text-align: left;
}

.values__both--block{
    width: 50%;
    margin-top: 32px;
    margin-right: 32px;
}

.values__right--block{
    margin-right: 0 !important;
}

.values__dollar--container{
    display: flex;
    padding: 8px;
    background-color: rgb(154, 230, 180);
    border-radius: 9999px;
    color: rgb(39, 103, 73);
}

.values__case--container{
    display: flex;
    padding: 8px;
    background-color: rgb(254, 178, 178);
    border-radius: 9999px;
    color: rgb(155, 44, 44);
    margin: auto 0;
}

.values__sub--title{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    margin-left: 12px;
    color: #243e63;
}

.values__sub--description{
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: #243e63;
}

.values__logo__title{
    display: flex;
}

.values__button--container{
    margin-top: 32px;
}

.values__button--container button{
    transition: all 300ms ease;
}

.values__button--container button:hover{
    background-color: #5011cc;
}

.values__right{
    width: 50%;
}





/* PRICING */





.pricing__options--container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pricing__options{
    width: 100%;
    max-width: 380px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(128, 128, 128, 0.4);
    padding: 8px 32px 0px 32px;
    margin-top: 64px;
    margin-right: 32px;
    position: relative;
}

.plan__highlight{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    height: 8px;
    top: 0;
    right: 0;
    left: 0;
}

.green__highlight{
    background: linear-gradient(115deg, rgb(56, 178, 172)0%,
    rgb(129,230,217) 100%);
}


.plan__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.plan__name{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.plan__price{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 4px 0;
    padding: 8px 0;
}

.plan__duration{
    font-size: 16px;
    font-weight: 700;
    color: #a0aec0;
    letter-spacing: 1.6px;
    text-align: center;
}

.plan__features{
    display: flex;
    flex-direction: column;
    border-top: 2px #e5e7eb solid;
    border-bottom: 2px #e5e7eb solid;
    padding: 32px;
    margin: 0 -32px;
}

.plan__feature--title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.plan__feature{
    margin-top: 20px;
    color: #718096;
    font-weight: 500;
    padding: 2px;
}

.pricing__button--container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 64px;
}

.pricing__button--green{
    padding: 18px 32px;
    width: 100%;
    background: linear-gradient(115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
    border: none;
    transition: transform 300ms ease, box-shadow 300ms ease;
}

.pricing__button:hover{
    transform: translate(2px, -2px);
    box-shadow: 0px 5px 10px rgba(70, 70, 70, 0.4);
}

.blue__panel{
    background-image: linear-gradient(135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%);
}

.plan__white--text{
    color: #fff !important;
}

.feature__blue--border{
    border-color: rgb(102, 126, 234);
}

.plan__features--blue{
    display: flex;
    flex-direction: column;
    border-top: 2px #667eea solid;
    border-bottom: 2px #667eea solid;
    padding: 32px;
    margin: 0 -32px;
}

.pricing__button--white{
    padding: 18px 32px;
    width: 100%;
    background-color: #fff;
    color: #6415ff;
    transition: transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease;
}

.pricing__button--white:hover{
    transform: translate(2px, -2px);
    box-shadow: 0px 5px 10px rgba(70, 70, 70, 0.4);
    background-color: #e2e8f0;
}


.red__highlight{
    background: linear-gradient(115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
}

.pricing__button--red{
    padding: 18px 32px;
    width: 100%;
    background: linear-gradient(115deg,
            rgb(245, 101, 101) 0%,
            rgb(254, 178, 178) 100%);
    border: none;
    transition: transform 300ms ease, box-shadow 300ms ease;
}





/* TESTIMONY */





.testimony__left{
    width: 50%;
}

.testimony__right{
    width: 50%;
    padding-left: 64px;
}

.testimony__reviews{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 16px;
}

.star__container{
    display: flex;
    color: #f6ad55;
}

.fa-solid ,.fa-star{
    padding: 0 1px;
}

.review__title{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    color: #243e63;
}

.review__description{
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: #243e63;
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

.user__details--container{
    display: flex;
}

.user__img{
    width: 80px;
    height: 80px;
    border-radius: 9999px;
}

.user__texts--container{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: center;
}

.user__name{
    font-size: 20px;
    text-align: left;
    color: #243e63;
}

.user__job__title{
    text-align: left;
    color: #243e63;
}

.next__back__buttons--container{
    display: flex;
    justify-content: flex-end;
}


.back__button,
.next__button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 242, 247);
    color: #6415ff;
    padding: 16px;
    margin: 0 12px;
    border: 0px;
    transition: all 300ms ease;
}


.back__button:hover,
.next__button:hover{
    background-color: #e2e8f0;
}

.button__divider{
    margin: 12px 0;
    border: 1px #a0aec0 solid;
    opacity: 0.25;
}





/* FAQS */





.faq__questions--container{
    display: flex;
    flex-direction: column;
    max-width: 896px;
    margin-top: 40px;
    width: 100%;
}

.faq__question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #edf2f7;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.faq__question:hover{
    background-color: #e2e8f0;
}

.faq__texts{
    font-size: 20px;
    font-weight: 600;
}





/* ENROLL */





.enroll__container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6415ff;
    padding: 90px;
    width : 100%;
    border-radius: 8px;
}

.enroll__texts--container{
    width: 50%;
}

.enroll__texts{
    font-size: 28px;
    color: #fff;
    text-align: left;
    font-size: 30px;
    line-height: 1.5;
}

.enroll__button--one{
    background-color: #f56565;
    color: #fff;
    padding: 20px 48px;
    font-size: 18px;
    margin-right: 18px;
    transition: background-color 300ms ease;
}

.enroll__button--one:hover{
    background-color: #e53e3e;
}

.enroll__button--two{
    border: 1px solid #9393c5;
    padding: 20px 48px;
    font-size: 18px;
    transition: background-color 300ms ease;
}

.enroll__button--two:hover{
    background-color: #fff;
    color: #6c21ff;
}





/* FOOTER */





.footer__container{
    padding: 96px 32px;
    background-color: #6415ff;
}

.footer__size{
    max-width: 1280px;
    margin: 0 auto;
}

.footer__columns--wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.footer__column--title{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.column__list{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.column__sublist{
    margin-top: 10px;
    padding-bottom: 4px;
    text-align: left;
}

.column__link{
    color: #f7fafc;
    font-size: 14px;
    padding-bottom: 4px;
    border-bottom: 1px transparent solid;
    transition: border-bottom 300ms ease;
}

.column__link:hover{
    border-bottom: 1px solid #fff;
}

.footer__divider{
    width: 100%;
    margin: 64px 0;
    border-bottom: 2px #742cff solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright__container{
    display: flex;
    justify-content: space-between;
}

.light__logo__text--container{
    display: flex;
    align-items: center;
}
.light__logo--text{
    font-size: 22px;
    font-weight: 700;
    margin-left: 12px;
    color: #fff;
}

.light__logo{
    width: 35px;
}

.footer__copyright{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__media--container{
    display: flex;
    align-items: center;
}

.social__media--button{
    padding: 8px;
    border-radius: 9999px;
    background-color: #f7fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 16px;
    transition: all 300ms ease;
}

.social__media--button:hover{
    background-color: #cbd5e0;
}

.social__media--button i{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}